ELECTRON_MIRROR=https://github.com/electron/electron/releases/download/v
electron_mirror=https://github.com/electron/electron/releases/download/v
electron_builder_binaries_mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/
